.aboutme-section {
  font-size: 180px;
  padding-top: 0px;
  /* center heading */
  text-align: center;
}

.aboutme-section h1 {
  background-image: url("/img/coding2.jpg");
  background-size: cover;
  background-position: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 200px;
}

.quote-container {
  max-width: max-content;
  margin: 60px;
  margin-top: 0px;
  padding: 20px;
  padding-top: 0px;
  background-color: #f9f9f9;
  border-left: 5px solid #ff6347;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.quote-container h1 {
  font-family: "Georgia", serif;
  font-size: 28px;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.quote-container h3 {
  font-family: "Arial", sans-serif;
  font-size: 20px;
  font-style: italic;
  color: #666;
  line-height: 1.6;
  text-align: center;
  margin: 0;
}

/* adjustments for responsiveness */
/* media query for screens with a maximum width of 805 pixels */
@media (max-width: 805px) {
  .aboutme-section {
    font-size: 60px;
    padding-bottom: 70px;
  }
  #myskillset {
    font-size: 100px !important;
  }
}
@media (max-width: 480px) {
  .aboutme-section {
    font-size: 40px;
    padding-bottom: 50px;
  }
  #myskillset {
    font-size: 80% !important;
  }
  #myself {
    margin-top: 15px;
  }

  #myself img {
    width: 100%;
    max-width: 300px;
  }

  #myself h2 {
    font-size: 20px;
    margin-top: 10px;
  }
}
/* media query for screens with a maximum width of 1280 pixels */
@media (max-width: 1280px) {
  .quote-container {
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 20px;
    margin-top: 0;
    max-width: 90%;
  }
  #myself {
    margin-top: 20px;
  }

  #myself div {
    flex-direction: column;
    align-items: center;
  }

  #myself img {
    width: 80%;
    max-width: 400px;
  }

  #myself h2 {
    font-size: 24px;
    margin-top: 15px;
  }
}

.skillset-section {
  font-size: 80px;
  padding-bottom: 100px;
  padding-top: 0px;
  text-align: center; 
  
}

.skillset-section h1 {
  background-position: center;
  background-color: #000;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* font-weight: bold; */
}


/* styling footer element */
.footer {
  background-color: #343a40;
  padding: 20px 0;
  color: #fff;
}
/* style for <a> elements inside .footer */
.footer a {
  color: #fff;
  margin: 0 15px;
  transition: color 0.3s ease;
}
/* style for <a> elements inside .footer once hovered*/
.footer a:hover {
  color: #007bff;
}
/* style for <svg> elements inside .footer */
.footer svg {
  width: 24px;
  height: 24px;
}
/* style for <p> elements inside .footer */
.footer p {
  margin: 10px 0 0;
}
