/* basic form styling */
.form-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: none;
  width: 100%;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

/* styling input, select, and textarea elements */
.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-group textarea {
  resize: vertical;
}

/* style for submit button */
#submitbtn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* style for submit button when hovered*/
#submitbtn:hover {
  background-color: #0056b3;
}

/* style for card container */
.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 200px;
  margin: 20px;
  padding: 20px;
  text-align: center;
  transition: transform 0.2s;
}

/* style for card container when hovered */
.card:hover {
  transform: translateY(-10px);
}

.card svg {
  margin-bottom: 15px;
}

.card h3 {
  margin-bottom: 15px;
  color: #333;
}

/* style for <a> element in card*/
.card a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

/* style for <a> element in card when hovered */
.card a:hover {
  text-decoration: underline;
}

/* spinner when form is submit */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* styling footer element */
.footer {
  background-color: #343a40;
  padding: 20px 0;
  color: #fff;
}
/* style for <a> elements inside .footer */
.footer a {
  color: #fff;
  margin: 0 15px;
  transition: color 0.3s ease;
}
/* style for <a> elements inside .footer once hovered*/
.footer a:hover {
  color: #007bff;
}
/* style for <svg> elements inside .footer */
.footer svg {
  width: 24px;
  height: 24px;
}
/* style for <p> elements inside .footer */
.footer p {
  margin: 10px 0 0;
}
